/*MY CODE*/

body {
  background-color: #fffffc;
}

* {
  text-decoration: none;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}
header .header-brand {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #d8a108;
  text-decoration: underline;
}

header .header-cases {
  display: none;
}

/*Index*/

.index-banner {
  width: 100%;
  height: calc(100vh - 159px);
  background-image: url(./img/ninja.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: Cormorant Garamond;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

/*FOOTER*/

footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-family: Catamaran;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}

.footer-sm {
  width: 60px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.footer-sm a {
  margin: 0;
}

.footer-sm > a > img {
  width: 100%;
  margin: 0;
}

footer ul {
  padding-right: 30px;
}

footer ul li p {
  font-family: Catamaran;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-links-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links-cases {
  display: none;
}

/* Index */

.index-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.index-links a {
  flex: 1;
  min-width: 300px;
}

.section-link:nth-child(1),
.section-link:nth-child(4),
.section-link:nth-child(5) {
  flex: 2;
  min-width: 600px;
}

.section-link,
.section-link a {
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-link {
  background-color: #bfbdbd;
  margin: 15px 15px 15px 15px;
}

.section-link:hover {
  background-color: #b2b0b0;
}

.section-link > a {
  color: #111;
  display: flex;
}

.section-link > a > h3 {
  margin: 0 0 0 10px;
}

@media only screen and (max-width: 600px) {
  .section-link {
    min-width: 500px;
    width: 100%;
  }
  .section-link:nth-child(1),
  .section-link:nth-child(4),
  .section-link:nth-child(5) {
    flex: 2;
    min-width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
  }

  header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
  }

  header .header-cases {
    display: block;
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;
  }

  .header-cases:hover {
    color: #d8a108;
    border: 1px solid #d8a108;
  }

  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
  .index-banner {
    height: 450px;
  }

  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
  }

  /*FOOTER*/

  footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
  }

  footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
  }

  footer ul li {
    display: block;
    list-style: none;
  }

  footer ul li a {
    font-family: Catamaran;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
  }

  footer ul li a:hover {
    color: #d8a108;
  }

  .footer-sm {
    width: 60px;
    float: right;
  }

  .footer-sm img {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-links-cases {
    display: block;
  }

  footer ul {
    padding-right: 30px;
  }

  footer ul li p {
    font-family: Catamaran;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
}
